.wrapper {
  max-width: 1920px;
  font-family: lato;
  font-size: 25px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  position: fixed;
  top: 0;
  z-index: 50;
  width: 100%;
  border-top: 8px solid #34495E;
  background-color: #fff;
}

.headerCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 75px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
}

.headerCont__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 33px;
  color: #0c1a0f;
  cursor: pointer;
}

.headerCont__logo_e {
  color: aquamarine;
  text-shadow: 0 0 5px #63497c;
}

.headerCont__text {
  margin-left: 20px;
  opacity: 0.6;
}

.headerCont__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.headerCont__nav_item {
  color: #a07c5f;
  margin-right: 35px;
}

.headerCont__nav_item:hover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  text-shadow: 0 0 5px #a05032;
}

.headerCont__search {
  cursor: pointer;
}

.headerUnderImg {
  width: 100%;
  height: 280px;
  -o-object-fit: fill;
     object-fit: fill;
  -o-object-position: center;
     object-position: center;
  -webkit-filter: blur(2px);
          filter: blur(2px);
  z-index: 1;
  position: fixed;
  top: 0;
}

.main {
  margin-top: 150px;
  position: relative;
  z-index: 2;
}

.mainTitle {
  padding: 0 20px;
  color: #fff;
}

.mainTitle__title {
  font-size: 50px;
  font-weight: 700;
}

.mainTitle__text {
  text-decoration: underline;
  margin-bottom: 40px;
}

.mainCont {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.3fr 0.7fr;
      grid-template-columns: 1.3fr 0.7fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 15px 10px;
      grid-template-areas: "mainC aside";
}

.mainC {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: mainC;
}

.mainC .Post {
  margin-bottom: 250px;
  background-color: #fff;
  border-bottom: 2px solid #1ABC9C;
}

.mainC .Post__img {
  -o-object-position: center;
     object-position: center;
  -o-object-fit: fill;
     object-fit: fill;
}

.mainC .Post__subscr {
  height: 60px;
}

.mainC .Post__subscr_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mainC .Post__subscr_info-btn, .mainC .Post__subscr .sound {
  margin: 15px 0;
  position: relative;
  cursor: pointer;
  width: 60px;
  height: 60px;
  background-color: #1ABC9C;
  border-radius: 4px;
  background-position: center;
  background-repeat: no-repeat;
}

.mainC .Post__subscr_info-btn {
  background-image: url(../img/New.png);
}

.mainC .Post__subscr_text {
  opacity: 0.7;
  font-size: 17px;
  margin-bottom: 25px;
}

.mainC .Post__subscr_btn {
  cursor: pointer;
  padding: 14px 18px;
  background-color: #1ABC9C;
  color: #fff;
  border-radius: 4px;
  font-size: 17px;
}

.mainC .info {
  width: 100%;
  height: 60px;
  margin: 20px 0 20px 20px;
}

.mainC .info__title {
  font-size: 22px;
}

.mainC .info__items {
  margin-top: 5px;
  font-size: 16px;
  opacity: 0.6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.mainC .info__items_date, .mainC .info__items_comments, .mainC .info__items_public, .mainC .info__items_views, .mainC .info__items_likes {
  position: relative;
  padding-left: 30px;
  margin-left: 30px;
}

.mainC .info__items_date::before, .mainC .info__items_comments::before, .mainC .info__items_public::before, .mainC .info__items_views::before, .mainC .info__items_likes::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 0;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.mainC .info__items_date {
  margin-left: 0;
}

.mainC .info__items_date::before {
  background-image: url(../img/Calendar.png);
}

.mainC .info__items_comments::before {
  background-image: url(../img/Bubble.png);
}

.mainC .info__items_public::before {
  background-image: url(../img/Location.png);
}

.mainC .info__items_views::before {
  background-image: url(../img/Eye.png);
}

.mainC .info__items_likes {
  margin-left: auto;
}

.mainC .info__items_likes::before {
  background-image: url(../img/Heart.png);
}

.aside {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: aside;
}

.sound {
  background-image: url(../img/Volume.png);
}

.notice {
  height: 150px;
  background-color: #1ABC9C;
  color: #fff;
  border-radius: 10px;
  margin-bottom: 50px;
}

.notice__text {
  position: relative;
  font-size: 24px;
  padding-left: 100px;
  margin: 38px 0;
}

.notice__text::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 37px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/kovichki.png);
  background-size: contain;
}

.notice__autor {
  font-size: 18px;
  padding-left: 100px;
}

.bot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 270px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pages__page {
  border-radius: 2px;
  padding: 15px 20px;
  font-size: 16px;
  color: #34495E;
  background-color: #ECF0F1;
}

.pages__page:hover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-color: aquamarine;
}

.arrows {
  margin-left: auto;
}

.arrows__left, .arrows__right {
  border-radius: 4px;
  padding: 10px 13px 0;
}

.arrows__left:hover, .arrows__right:hover {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: aquamarine;
}

.selected, .arrows__left, .arrows__right {
  background-color: #1ABC9C;
  color: #fff;
}

.socialWebs {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.socialWebs__item {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socialWebs__item:hover {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-filter: brightness(1.07);
          filter: brightness(1.07);
}

.socialWebs__item_img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 15px;
}

.socialWebs__item_number {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 13px;
  width: 100%;
  height: 30px;
  padding: 10px;
  line-height: 100%;
  text-align: center;
  background-color: antiquewhite;
}

.firs {
  background-color: #f19252;
}

.sec {
  background-color: #2d76ca;
}

.thir {
  background-color: #3ae6ec;
}

.four {
  background-color: #eb3298;
}
/*# sourceMappingURL=styles.css.map */